<h2 class="section-title">{{ .titles.schedule }}</h2>

<p>Agenda provisional del evento</p>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Tiempo</th>
        <th class="schedule-slot">Título</th>
        <th class="schedule-description">Descripción</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <!--<span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>-->
            {{ end }}

              {{ .presentation.title }} ({{ .name }})
              <!--<span class="speakers-company">{{ .company }}</span>-->
            </td>
            
            <td class="schedule-description">{{ .presentation.description }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">-</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
