<h2 class="section-title">{{ .titles.speakers }}</h2>



<ul class="speakers-list">
{{ range $speaker := (where .schedule "presentation" "ne" nil) }}
  <li id="{{ $speaker.id }}" class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
      <span class="speaker-photo center-photo">
        <img class="photo" src="{{ . }}" alt="{{ $speaker.name }}" itemprop="image">
      </span>
    {{ end }}

    <h3 class="speech-title">
      {{ with .presentation.time }}
      <!--<span class="speech-time">{{ . }}</span>-->
      {{ end }}
      <!---<span>{{ .presentation.title }}</span>-->
    </h3>

    <h3 class="speakers-name">{{ .name }}
      {{ with .link }}
      <a href="{{ .href }}" target="_blank" title="{{ .text }}"> {{ .text }} </a>
      {{ end }}
    </h3>
    <p class="speakers-bio">{{ .bio }}</p>
    {{ with .twitter }}
    <span class="twitter">
      <a href="https://twitter.com/{{ . }}"><img width="25px" class="twitter" src="img/twitter.svg" alt="twitter" itemprop="image"></a>
    </span>
  {{ end }}
  </li>
{{ end }}
</ul>
