<h2 class="section-title">Temática</h2>
<div class="topics">
    <div class="topics-in">
        <p>DevOps y MLOps</p>
        <img width="80px"  src="img/026-server.png"></img>
    </div>

    <div class="topics-in">
        <p>IA en Videojuegos</p>
        <img  width="80px" src="img/046-gaming.png"></img>
    </div>
    <div class="topics-in">
            <p>Geospatial health data</p>
            <img  width="80px" src="img/048-healthcare.png"></img>
        </div>
    <div class="topics-in">
                <p>Análisis de datos</p>
                <img  width="80px" src="img/015-scientist.png"></img>
        </div>

</div>

<div class="topics">
        <div class="topics-in">
            <p>Computer Vision</p>
            <img  width="80px" src="img/003-vision.png"></img>
        </div>
    
        <div class="topics-in">
            <p>Machine Learning</p>
            <img  width="80px" src="img/025-deep learning.png"></img>
        </div>
        <div class="topics-in">
                <p>Data Engineering</p>
                <img  width="80px" src="img/008-data-1.png"></img>
            </div>
        <div class="topics-in">
                    <p>Geoposición y redes</p>
                    <img  width="80px" src="img/034-car.png"></img>
            </div>
    
    </div>